[2015-09-30 06:40] carnage702 opened #1 "Enhancement Request - Add Wiiu GC adapter support"
Any chance in the future we can get wiiu gc adapter support?

[2015-09-30 19:23] therandomizer85 opened #2 "Audio plugin missing interpolation"
The current audio plugin on the recent build is, how do I say, no different than the previous WiiSX branch's, which is understandable. However, upon testing, I noted several issues with it:

- Sound sync; Many sound effects are incorrect compared to default audio for PCSX-R
- ADSR/Reverb: Many games sound flat, notably Final Fantasy games
- Gaussian interpolation; I don't know how well the Wii can

[2015-11-19 02:26] Mystro256 opened #3 "Better Logo"
I put a very temporary logo in for now, but it's very ugly, and personally, I would like a new one.

Note that WiiSX and the WiiSX logo are trademarks of the Wii64 Team, thus cannot be used in this fork.

Feel free to comment or post an issue if there is still remnant branding or logos.

Also, feel free to make a new logo and submit it! :)

[2015-11-19 02:27] Mystro256 commented on #1
Indeed, this is a low priority, but I would very much like this.

[2015-11-19 02:32] Mystro256 commented on #2
Indeed, I plan to port the PCSXR sound plugin to this, if feasible. This should have the audio more in line with PCSXR.

To clarify, these were issues with the original WiiSX right? I have yet to do any work on the audio, so this should be the same. If this was an issue that did not exist on the official WiiSX 2.1 Beta build, please let me know, so I can fix this regression.

Thanks!

[2015-11-19 02:40] Mystro256 opened #4 "Port GFX to GX"
The graphics library should be ported to GX for hardware acceleration.

Some progress has been made in the "GL" branch.
The current goal is to take PCSXR's openGL plugin and port it to GX, which is somewhat similar.

This is approach is tentative and open to change, but the current softGPU isn't feasible to avoid performance bottlenecks (plus it will look nicer too).

[2015-11-19 08:11] roflcopter777 commented on #2
As far as I recall, the issue has existed since the beginning, even up to version 2.1, the lack of ADSR ( I don't even know if they call it that with the PSX audio processor), but I do know that Gaussian is definitely missing along with sound sync, which is the cause for the off sound effects in Square Enix games. I'll be happy to test some more on this tomorrow as it is getting late here. That be

[2015-11-19 08:31] iiiGerardoiii commented on #3
**I just made these:**
![wiisxrlogo1](https://cloud.githubusercontent.com/assets/6264194/11265759/90f92e5e-8e64-11e5-87a8-5ac4af705f13.png) ![wiisxrlogo2](https://cloud.githubusercontent.com/assets/6264194/11265763/95bacc5e-8e64-11e5-9c67-79289b4a23ab.png)
Let me know what you think.

[2015-11-19 12:02] Mystro256 commented on #2
That's ok, I just wanted to make sure there wasn't any regression from the original code base. I'll see what I can do to make this happen.

Thanks

[2015-11-19 12:06] Mystro256 commented on #3
I like the second one (yellow R) a lot.

Are you able to make it with a transparent background?

[2015-11-19 12:32] Mystro256 opened #5 "CDR Mooby warnings"
The warnings (seen below) need to be fixed; GCC flags them incorrectly as unused variables.
The code needs to be reworked to A) make it more straight forward and B) to not confuse GCC, so it's not prevented from optimizing it properly.

[code]

[2015-11-19 12:37] Mystro256 opened #6 "GCC 4.8 warnings"
Compiling with GCC 4.8 introduces these warnings and need to be fixed:

[code]

[2015-11-19 12:46] Mystro256 opened #7 "Strict aliasing warnings"
There are a lot of strict aliasing warnings in the code. It may be valuable to fix these warnings to allow GCC to optimize the code better. I can't exactly say what the benefit to this would be to performance, but these warnings "should" be fixed for code quality reasons.

/wiisxr/Gamecube/PadSSSPSX.c: In function 'SSS_PADpoll':
/wiisxr/Gamecube/PadSSSPSX.c:268:4: warning: dereferencing type-punne

[2015-11-19 12:49] Mystro256 commented on #3
Scratch that, I changed my mind. Can I commit the second image and credit you for the image?

[2015-11-19 15:52] iiiGerardoiii commented on #3
Sure no prob

Here's the vectorized version if you wanna do some changes or export it to a higher res:
[wiisxrlogo2.pdf](https://github.com/Mystro256/wiisxr/files/39118/wiisxrlogo2.pdf)

[2015-11-19 19:21] Mystro256 commented on #3
Thanks!

[2015-11-20 01:29] #3 closed

[2015-11-20 07:44] carnage702 commented on #1
Thanks since for wiiu users this is by far the best controller besides wiiu pro that has all the buttons.

[2015-11-20 12:41] Mystro256 opened #8 "Redo GUI"
The frontend should really be redone. The current one is hacky and hard to maintain. GameCube support should be dropped in favour for a frontend made with libwiigui.

[2015-11-20 16:21] roflcopter777 commented on #8
Agreed, a new GUI would be nice :)

[2015-11-20 20:30] Mystro256 commented on #8
It seems critical, as there are some issues with the current code that is inhibiting me from progressing without breaking the GUI code. It seems like there's something hardcoded or hacked in that shouldn't be there. I can see what can be worked around for now.

[2015-11-21 00:27] roflcopter777 commented on #8
Damn, that sucks, but it's not surprising as the GUI is quite updated, I really need to learn more programming.

[2015-11-23 14:55] Mystro256 commented on #8
If you want a starting point, look into **libwiigui** and **C++**. Another programmer by the alias _medeirosT_ on GitHub expressed interest to me in developing this frontend if he has time, so he may be able to give some help if he's not too busy. **Note that this requires some working knowledge in C++**, so it maybe useful to learn some of that before anything else.

Here are some links if you wa

[2015-11-23 18:15] roflcopter777 commented on #8
Yeah, I wish I knew more, I'll take a look

[2015-11-30 11:52] cucholix opened #9 "UStealth support for Wii U"
Replacing by this libfat library
http://www.mediafire.com/?9d1ffxo16kc1gmq

UStealth hides HDD from Wii U OS to avoid getting the format messages upon boot.
More info:
http://gbatemp.net/threads/ustealth-wii-u-format-disk-nag-workaround.352786/page-12#post-4988611

I successfully compiled it with the new libfat http://www.mediafire.com/download/in8k6lfeurfi7bk/WiiSX(UStealth).dol

:)

[2015-11-30 14:52] Mystro256 commented on #9
Sounds good, I'll compile it with this on my next build

[2015-12-11 00:29] bugreport12341234 opened #10 "Add support for HID Controllers"
Please add support for HID Controllers from Nintendont (A Wii Homebrew Project to play GC Games on Wii and vWii on Wii U). According to the Code of FIX94 just plug in a hid controller whenever you want and it will automatically be used if a controller config is found, this will work in the nintendont loader and inside the game itself.
Among the interesting things there is support for generic contr

[2016-01-03 10:58] mordesku commented on #10
+1

[2016-01-30 08:52] GinBunBun commented on #10
I second this

[2016-02-02 03:34] N64Lain opened #11 "Multitap support?"
Hello. I just tried out NBA Jam TE on this, works perfectly which is freaking awesome, and I immediately wondered if it was possible to add multitap support so I could enjoy games like NBA Jam TE, Quake II, NHL 99, and Twisted Metal 3&4 (Though I know those games are...not so great) with more than one person. Would be a really neat enhancement and I remember hearing the original developers of WiiS

[2016-02-09 15:23] Mystro256 opened #12 "[Critical] GUI filebrowser bug"
A bug, which needs to be direly fixed, is a break in the GUI file browser if large portions of code are changed. It seems to cause the files to be treated as folders and folders to be treated as files. For example, when opening a folder, an error says "could not open ISO file", which closes the browser, and something similar happens to iso files. **EDIT: I can only reproduce this with the SD card

[2016-02-09 15:25] Mystro256 commented on #5
Blocked by Issue #12

[2016-02-09 16:29] roflcopter777 commented on #12
Have you contacted Emukidid, Ekeeke or Extrems by any chance? They originally worked on WiiSX, so maybe they could lend some insight on what's going on with the GUI?

[2016-02-09 20:52] Mystro256 commented on #12
Hmmm, good point.

I'll have to track down their email addresses when I have time.

On Tue, Feb 9, 2016 at 11:30 AM, roflcopter777 notifications@github.com
wrote:

[2016-02-09 20:59] roflcopter777 commented on #12
Okay, that's fine

[2016-03-11 05:33] Orvis25 opened #13 "Wiisxr issue list."
I do not know if these help make the program better, but here is a list of issued i am having with the current version you have available.

Out of a about 15 games i currently play, two are giving me hell.
Vigilante 8 and Vigilante 8 second offence.

Vigilante 8 loads up, and has pretty fine visual, but the music plays all messed up, and in adition there is some lagging going on

Vigalante 8 Secon

[2016-03-11 17:24] Mystro256 commented on #13
Indeed, a lot of these issues I'm aware of but having them here may help if someone else wants to try to fix it.

I'm mostly working on fixing up the code: e.g. cleaning up, formatting, style issues, some memory leaks, used variables, performance issues. Compatibility is a little bit harder for me to work on. I plan to redo or work on the sound after I pull my **experimental-fixes** back into **ma

[2016-03-11 17:30] roflcopter777 commented on #13
If you need any help testing builds and providing feedback, I'd be willing to do so

[2016-03-11 17:49] Orvis25 commented on #13
Well glad i was able to narrow it down for you mysto256.

[2016-03-11 19:12] Mystro256 commented on #13
@roflcopter777
I make experimental changes to the experimental-fixes branch. If you want to do a regression test every time I make a build, please feel free to do that. You can look at all the builds by going here:

https://github.com/Mystro256/wiisxr/commits/experimental-fixes/Gamecube/WiiSX.dol

If you find a regression, please make note of it by leaving a comment on commit that it was introduce

[2016-03-11 21:56] roflcopter777 commented on #13
Awesome, I'll be sure to test those builds out, anything I should test in particular? I also noted that Grandia doesn't seem to boot, but locks up the emulator, but I'll retest it later :) Thank you for your work  ^^

[2016-03-13 00:07] Orvis25 commented on #13
here is another crash bump picture for vigilante 8 when loading levels.

Do these actually provide you with useful info? cuz i can keep posting them if they help.
![dsc_0002 1](https://cloud.githubusercontent.com/assets/16249891/13726090/25b23104-e87d-11e5-8311-fb016c6c1afd.JPG)

[2016-03-14 13:47] Mystro256 commented on #13
@roflcopter777 Regressions are most important. I don't want to merge the changes until I know it doesn't break anything. All the changes I've made have been with a static code analyzer and walking through the code by hand. I have yet to have time to legitimately test it in the last 6 months.

@Orvis25 I'm not sure yet. I mean it's no harm for now, but I'm more interested in how to reproduce these

[2016-03-14 15:15] roflcopter777 commented on #13
I don't know if the ISO dump I have is bad or what, it doesn't crash the emulator, i merely shows a blank screen then kicks me out to the Homebrew Menu, no other games do that, will test again.

[2016-03-14 17:02] Orvis25 commented on #13
@Mystro256 If this helps i found out that ePSXe can emulate vigilante 8 successfully.
https://www.youtube.com/watch?v=txzyxerrWZ8

Maybe there is some code in there you can see that will fix the problem with WiiSXr ???

Hope that helped :)

Edit: It seems ePSXe is still receiving updated for better compatibility even in 2016. Would it be easier to modify ePSXe to work on a wii then trying to repai

[2016-03-14 18:50] Mystro256 commented on #13
@roflcopter777 I would recommend using Wiiload and testing each build. I could have easily broke something down the line, i.e. a regression.

@Orvis25 unfortunately ePSXe is closed source :(

[2016-03-14 19:00] Orvis25 commented on #13
@Mystro256 I do not suppose asking them would help?

Maybe if they see you are developing/coding for a wii and need a better emulator they will let you use the code?

Always worth a shot no?

[2016-03-14 21:39] roflcopter777 commented on #13
Wiiload? I don't know what that is. Wiiloader?

[2016-03-15 02:13] Orvis25 commented on #13
@roflcopter777 Google man.... Use it..... Literally first link....
http://onyxsoft.se/wiiloader.html

[2016-03-15 02:31] Mystro256 commented on #13
Read up on it here:
http://wiibrew.org/wiki/Wiiload

There's Mac, windows, Linux versions
On Mar 14, 2016 10:14 PM, "Orvis25" notifications@github.com wrote:

[2016-03-15 03:02] roflcopter777 commented on #13
@Orvis25  Gee, so sorry for asking -_-  I don't have that app, so..yeah...anyways. The issue has been plaguing the emulator for some time though, even before the recent revision.

[2016-03-15 03:11] Mystro256 commented on #13
Wiiload is just an app on your computer where you can send the dol file to
the homebrew channel over wifi without having to put it on an sdcard or USB
stick. I use it to test lots of builds at once.

I'm working on the emulator whenever I can and once I an confirm there's no
regressions in the experimental builds, I can push to changes to the main
branch. The problem is that I have no time to test

[2016-03-15 05:03] roflcopter777 commented on #13
Ah, well, I never tried that app before, I'll give it a whirl, my ISO is probably corrupted, I'll try again, my apologies -_-

[2016-03-15 05:31] Orvis25 commented on #13
@Mystro256 Have you ever asked if the ePSXe team would let you developer their emulator for wii?

[2016-03-15 11:51] Mystro256 commented on #13
@Orvis25 honestly I would rather not work on proprietary code if I had the choice. It's a bit of an ethical issue; if epsxe has no interest in releasing their source code, I have no interest in contributing to them.

I recently found out about libretro; I would like to look into it before continuing development.

[2016-03-20 05:36] Restart80 opened #14 "WiiSXR - 2 Issues"
Alright, I have recently started playing WiiSX/WiiSXR (now SXR) and have two main issues:

-In Digimon World (and probably other games?), my controller randomly becomes unresponsive for a couple of seconds. If I was walking in a certain direction, it keeps moving until I regain control. This happens every minute or so for no apparent reason. I use a Gamecube controller, as with anything else.

-Wi

[2016-03-21 20:11] Mystro256 commented on #14
Some comments...

Controler:
- Do you only experience this with a Gamecube controller? or can you reproduce this with another setup? Was this an issue with WiiSX too?

Card:
- Unfortunately, I only own a Wii U, so I can't really debug this. Hopefully someone else has interest in fixing these and can look into these issues.

[2016-03-22 06:38] Restart80 commented on #14
Controller:

I tried using a Wii Remote, but there is still the same problem. This has been an issue for both WiiSX and WiiSXR.

Card:

Also when I click "Save Memcard" when Slot A or B is selected, even when I make sure the USB isn't selected as the save device, the emulator will actually freeze.

[2016-03-24 07:43] Orvis25 commented on #13
@Mystro256
so does that mean that realistically, we wont see better game comparability, just bug fixes with its current comparability?

[2016-03-24 15:45] roflcopter777 commented on #13
Where did you get that assumption from?

[2016-03-25 00:38] Orvis25 commented on #13
because wiisx has not been updated since like 2013, and wiisxr is based on it. And mystro256 said he is working on things like memory leaks and some bug fixes with usb, not actually improving game compatibility..

[2016-03-25 00:53] roflcopter777 commented on #13
Well, gee, maybe if other people were willing to help him out, that would be different.

[2016-03-25 00:54] Mystro256 commented on #13
Honestly I have interest in improving the emulator in general, but I'm very
limited in my time to program it. I would hope that I can either improve
compatibility eventually or my revival of the emulator can encourage people
to help. Hence why its on github, as it makes it very accessible to amateur
programmers (forking, pull requests, patches, issue tracking)
On Mar 24, 2016 8:39 PM, "Orvis25" no

[2016-03-25 01:09] Orvis25 commented on #13
@roflcopter777 Would be nice. i cant program worth a crap though :P Took an HTML class in HS and got like a 71%. programming and me do not work. but i always willing to bug test stuff.

@Mystro256 Oh, well cool. make sure you work on vigalante 8 games :P really would love to play that again, and it does not work on ps1 emulator, or n64 emulator  for wii :(

[2016-03-25 01:28] roflcopter777 commented on #13
What can I do to help attract other programmers?

[2016-03-29 07:34] Orvis25 commented on #13
@Mystro256
Question. If you fix the memory bug in wiiSX, will it carry over to things like wii64, FCE Ultra GX, Snes9x GX, and VBA GX? you said previously they all use the same loader or whatever. that why they ALL have the same issue with usb.

Just curious if you fix it here, if you will take over and update those (cuz they are abandoned atm. Last update was like 2012)

[2016-03-29 19:34] Mystro256 commented on #13
@roflcopter777 Honestly I'm not sure.

@Orvis25 Honestly it depends on where the issue is. It may be a simple issue that can be fixed in upstream libraries and thus just will just require a rebuild in these projects... but if it's something more complicated requiring a work around a quirk in the Wii system, mileage may vary. I will try to port a fix if possible, but I still need to figure it out f

[2016-04-02 22:01] Mystro256 commented on #9
Done, please let me know if it doesn't work

[2016-04-02 22:01] #9 closed

[2016-04-06 17:39] Mystro256 commented on #13
Anyone able to see if I broke anything with the following build? Most games from I can see are either the same or slightly faster with the latest changes:

https://github.com/Mystro256/wiisxr/raw/experimental-fixes/Gamecube/WiiSX.dol

[2016-04-06 18:27] roflcopter777 commented on #13
Gonna test it out today and let you know :)

[2016-04-06 18:48] Orvis25 commented on #13
@Mystro256 If i get some time, i will test it out over a period of a few hours.

[2016-04-06 19:37] Orvis25 commented on #13
@Mystro256 all i do is replace the old boot.dol with this file right? (i just del old of sd, drag this, rename to boot?)

is that correct?

[2016-04-06 19:38] roflcopter777 commented on #13
Yes, you just replace the boot.dol file is all

[2016-04-06 19:49] Orvis25 commented on #13
@Mystro256
Just tried the following games using the same settings i did before (mainly set bios to usb, boot through bios to yes, rebind all keys for gamecube controller, and that's it)

 These will be the only games i will be testing, as they are the only ones i want to play:

Vigilante 8 -> freezes at menu and i get a "EEEEEEEEEEEEEEEEEEEE" sound. have to hard reset
Vigilante 8 Second Offence ->

[2016-04-06 19:59] Mystro256 commented on #13
@Orvis25

I'll try to reproduce this and fix it before I merge in back into master.

@roflcopter777

Let me know if you find any other issues.

[2016-04-06 20:06] roflcopter777 commented on #13
@Mystro256  Just tried Crash Bandicoot 3.bin, emulator crashed with a very high-pitched buzzing sound. Crash Bandicoot 2 also crashes, they worked on the previous build BTW, so it's not my ISO. Should I have deleted or changed something in the folder or made a new folder? Why's it crashing? Using a Wii U also, and these ISO images loaded fine beforehand -_-

Don't know what I'm doing wrong, previo

[2016-04-06 20:17] roflcopter777 commented on #13
@Mystro256  Nope, not a damn thing. Changed BIOS from HLE to SD, nothing, games still crash, buzzing sound, Breath of Fire 3 showed a black screen, buzzing, Crash Bandicoot games lock up the menu. I don't know what I'm doing wrong, I made a new folder, I made a new config, I don't know what to do to, I thought I was being helpful, but now, I've made it worse, because I'm the only one this is happe

[2016-04-06 20:20] Mystro256 commented on #13
@roflcopter777
No, you didn't do anything wrong, I was just looking to see if I broke something, and it seems I did. This is what I mean by "regression testing"... Sometimes when you try to fix something, you end up breaking something else. Knowing which games broke will help me fix the issues, as I can try to reproduce the issues on my system as well.

[2016-04-06 20:25] roflcopter777 commented on #13
@Mystro256 I was looking forward to seeing the speed improvements in the games _sigh_ I hope I can soon. This has got to be stressful for ya. Still...hopefully it's not a big regression -_-

[2016-04-06 20:32] Mystro256 commented on #13
We'll see, worst case I undo what I did.
On Apr 6, 2016 4:26 PM, "roflcopter777" notifications@github.com wrote:

[2016-04-06 20:36] roflcopter777 commented on #13
And have the speed not improved? Ugh....

[2016-04-06 23:16] Orvis25 commented on #13
@Mystro256 Just keep at it man. We are rooting for you :D !!!

do not give up and let this project die again!

[2016-04-06 23:29] Mystro256 commented on #13
@roflcopter777
Lol dude, it's going to take a while if I'm the only one working on it. Rome wasn't built in a day.

@Orvis25
Thanks! Glad to hear the enthusiasm :))

[2016-04-06 23:42] Orvis25 commented on #13
@Mystro256 Maybe try starting with something smaller. Like fixing the fact it does not "exit" to the wii menu. And modifying the credit to now say wiisxR and add yourself in there.

Small stuff first :)

[2016-04-07 01:01] Mystro256 commented on #13
@Orvis25
Haha of course, the programming isn't an issue, I actually do this for a living (I'm a computer engineer at a firm), it's just lack of time.

As for the exit issue... Unfortunately I'm not sure what's causing the issue as I looked into what I thought was causing it... But it isn't the case. I thought fixed it in the following build but I'm not sure:
https://github.com/Mystro256/wiisxr/raw

[2016-04-07 01:20] Orvis25 commented on #13
@Mystro256 Does it close correctly for you?

All i do is install wiisxr on sd, launch wiisxr via channel icon or via homebrew. It does not matter because when i go to "exit" it just instantly black screens, locks up, and i have to hard reset.

idk what other info i can give.

[2016-04-07 01:33] Mystro256 commented on #13
@Orvis25
OH that issue, I fixed that like a month ago. If you want to test it, use this build, NOT the one I broke:
https://github.com/Mystro256/wiisxr/raw/master/Gamecube/WiiSX.dol

My "risker" builds are kept here (the one that broke the emulator, the other one is fine though):
https://github.com/Mystro256/wiisxr/raw/experimental-fixes/Gamecube/WiiSX.dol

But once I finish a few things I plan to

[2016-04-07 01:44] Orvis25 commented on #13
@Mystro256

is the "fixed" one (first link) NEWER than the one i currently use then? cuz i downloaded the one from your thing when i found out about wiisxr (like last month or whatever)

[2016-04-07 04:49] Orvis25 commented on #13
@roflcopter777
Dont be a jerk man. i would love to see you pick up a 4 year old dead project programmed by someone else, and program speed improvements, cleaning code, and improving stability fixes into something you never wrote, doing so in only your spare time while managing a full time job, and a family.

I for one am glad to see at least an attempt being made. Be it breaking things before fixi

[2016-04-07 14:48] roflcopter777 commented on #13
@Mystro256  Sorry about the other day -_-

[2016-04-07 16:48] Mystro256 opened #15 "Needs a forwarder"
I need to learn how to make forwarder channels (Wii/Wii U) and make one for wiisxr.

[2016-04-08 08:47] OronFortune commented on #13
While i am just a step or two above a complete noob if there is something i could do to help and i know or can be taught to do it i have time to help

[2016-04-08 13:56] Mystro256 commented on #13
@OronFortune
I'd like to start a compatibility wiki to help me pinpoint which games don't work... not sure how wiki's work on Github though. I believe you fork me, make a change in the wiki tab for your fork then do a pull request to pull the changes into here.

Maybe we can use the wiisx compatibility chart as a starting point.

[2016-04-08 14:32] Mystro256 commented on #13
I made a page, see if you can edit it or not. I believe I turned off restricted editing (should still require a GitHub account though).
https://github.com/Mystro256/wiisxr/wiki/Compatibility

[2016-04-08 14:56] roflcopter777 commented on #13
@Mystro256  Awesome, gonna test this today ^^ So is there a particular format we use for the text,  like using tables and so on like a wiki page?

Edit: I see something maybe like this as a template?

==A==
{{Table Start}}
| name =  | region = USA/EUR/JPN | status = Doesn't Work/Works/Issues | notes = please add a note if needed}}

Maybe? I'm not too good at formatting text, but something I saw on

[2016-04-08 15:25] Mystro256 commented on #13
@roflcopter777
I haven't exactly decided, but as long as it's coherent and easy to read. You can bring the data straight from gbatemp, but also specify the version it was tested on (E.g. wiisxr 2.2, wiisx mod 5, mod 4, ..., wiisx 2.1, etc.)

Maybe we could use the gbatemp wiki instead, like they did with not64?... I just don't like how I don't know what version it was tested with, plus I'm not sur

[2016-04-08 15:39] roflcopter777 commented on #13
Anyone can make wiki entries, I made one for Virtual Console injections for the Wii U and they didn't seem to mind, hmm, I can definitely try something, but at the same time, I don't want to detract from GitHub either, so I'm conflicted. The only caveat is you do need to make a GBA Temp Wiki account, which is simple, I can take a look at it.

[2016-04-08 15:53] Mystro256 commented on #13
Honestly if we make a new page on gbetemp, or do what they did with not64,
it maybe more accessible to people. I just want the source on github, I
could care less about the rest. I should really make a gbatemp or GC
forever forum post, I'll try to remember to do it this weekend.
On Apr 8, 2016 11:40 AM, "roflcopter777" notifications@github.com wrote:

[2016-04-08 16:00] Orvis25 commented on #13
@Mystro256 Honestly, making a pub list is prob going to FLOOD you with games that "dont work"

Maybe wait a few versions before doing like a post on a more pub area. Improve and fix a few more minor things, and fix the "credits" section so it reflects wiisxR with YOUR version number.

just my 2 cents

[2016-04-08 16:09] roflcopter777 commented on #13
@Mystro256 Going to at least start a template as I've figured out a decent template with table listing the game name, the region, compat, notes and so on. Gonna show a preview in a bit.

Edit: Or  not, proving to be difficult to set up, ugh.

[2016-04-08 17:11] Mystro256 commented on #13
@Orvis25
The credits section wasn't updated? It should have been updated yesterday. I just posted a new 2.2 version in the release section (this is the first actual build that I did this morning, the previous ones were all test builds):
https://github.com/Mystro256/wiisxr/releases

@roflcopter777
Honestly as long as you find something that works, I could care less. I realize that Github's wiki's m

[2016-04-08 17:17] Orvis25 commented on #13
@Mystro256 Is this the one that messed up and broke everything? Or a newer one with that problem fixed?

[2016-04-08 17:24] Mystro256 commented on #13
@Orvis25
It's the one that works but with some minor improvements, complete rebranding to WiiSXR (including folders) and I updated all the version numbers/credits. I plan to only release stable builds, rather than unstable/development builds, which is what I was doing before.

[2016-04-08 17:32] roflcopter777 commented on #13
@Mystro256  Awesome, I'll work off the GitHub Wiki, it looks more compact but way more organized, I have several games to test :)

[2016-04-08 17:33] Orvis25 commented on #13
@Mystro256 Ok, got it installed, changed folder locations on usb.

still gave one problem that i would love fixed APSP:

If i go to settings -> general -> and set bios to usb and boot through bios to yes, then save setting to the usb, the next time i open program (after closing it successfully without crash), it does not auto load the settings so i need to set them manually again.

Edit: PS. games

[2016-04-08 17:48] Mystro256 commented on #13
@Orvis25
Indeed, I'm aware of this issue, I just haven't had time to look into it; there was a bunch of higher priority crash fixes that needed to be fixed. There's also a bug with loading ISO's from the SD card that needs to be fixed, once I figure out what's causing it because it's preventing me from fixing other issues. It may be related to the issue I spoke with you about last night.

@roflcop

[2016-04-08 17:53] Orvis25 commented on #13
@Mystro256 Ah ok! well good to know! Good luck :)

i chat with ya tonight.

[2016-04-08 17:58] roflcopter777 commented on #13
@Mystro256 So loading ISO from SD cards is not recommended as they don't work?  I'm confused. I do have a USB HDD I can test with it, not sure what else I should do.

[2016-04-08 18:06] Mystro256 commented on #13
@roflcopter777
Sorry, let me clarify, the SD card filebrowser code seems to be fragile for some reason (prone to regression when I change other things around it)... I purposely tried not to break it for 2.2, but I couldn't make certain fixes because I didn't want to break SD support.

This is the issue I attempted to describe in #12 . I just figured out last night that it's caused by the SD card c

[2016-04-08 18:07] roflcopter777 commented on #13
@Mystro256  That's fine, man, I understand, some games do seem to be loading fine, Crash Bandicoot and so on, I'll test as much as I can, thank you for your hard work ^^ I'll test as much as possible.

[2016-04-08 18:24] Orvis25 commented on #13
@Mystro256
Is there a way to edit the default settings for the gamecube controller binding so i do not have to spend like 5 min changing them all every time i open the wiisxr app?

Edit: like changing the file on sd manually because it does not save or load the save file currently

[2016-04-08 18:48] roflcopter777 commented on #13
@Mystro256  Updated compat list, couldn't get Chrono Cross to load for some reason, maybe a bad dump? Final Fantasy IX resulted in immediate code dump, which I took a screenshot of, not sure if the info in the code dump will prove useful, I can post a link to it.

[2016-04-08 19:43] Mystro256 commented on #13
@roflcopter777
No need, I'll ask you for it if I can't reproduce it.
As for Chrono cross, I'm pretty sure you have a bad dump because it works for me.

[2016-04-08 20:41] Orvis25 commented on #13
@Mystro256 i take it no then to my previous question?

[2016-04-08 21:27] Mystro256 commented on #13
@Orvis25
Sorry I don't know off the top of my head. I believe it prioritizes the SD config file, but you could probably edit it with a text editor if its not saving.

[2016-04-08 21:37] roflcopter777 commented on #13
@Mystro256  Very true, sorry for the false positive, will test another dump of it. Keep up the good work, man. Any word on why Final Fantasy IX crashes when I boot it up?

This is the DSI exception/code dump information that was generated when I loaded the ISO
http://i.imgur.com/Jkwc43n.jpg

[2016-04-09 03:38] OronFortune commented on #13
Ok was able to edit it and since i had the new build you put up i did a ff tactics info it might have been useful info. I have a few more games i can test and add info on but wanted to make sure that i did it right and i am not sure how to pull it back in as you say lol sorry

[2016-04-09 04:03] roflcopter777 commented on #13
No worries, yeah, it's pretty straightforward

[2016-04-10 16:00] Orvis25 commented on #13
@Mystro256
After testing on the new version. i am currently still having problems with these games:

vigilante 8: still has massive graphical problems and sound issues
and
vigilante 8 second offence: still just crashes soon as i load the iso

[2016-04-11 02:15] roflcopter777 commented on #13
Tony Hawk's Pro Skater 1 and 2 hang with a black screen.

[2016-04-12 03:44] MalphasX commented on #14
Can confirm the same thing here. I was playing Herc's Adventures on WiiSX and then tried WiiSXR and both have the controller just freeze for a little bit. Was with a Gamecube controller for me. Also happy with the 60 fps. Sadly the game has some issues still, but maybe someday the game will be perfectly playable. I could probably already play it with savestates if the controller thing is fixed.

[2016-04-12 16:45] MalphasX commented on #13
Are they by any chance ecm files? I've noticed my only two ecm games have those issues, and the other games all start and work just fine. Seems bin and img are the only ones supported.

[2016-04-18 00:05] posthum opened #16 "Enhancement request - per game config?"
Probably a low priority one, but it would be really nice to be able to save configs 'per game' and to not have to manually adjust the global settings every time we try to load up a different game. :)

[2016-04-18 00:25] Deadpixel66 opened #17 "gamecube releases?"
Do you think you can put the compiled gamecube wiisxr in the releases? I tried to compile it but I failed :/

[2016-04-21 15:06] rkkoszewski opened #18 "COMPATIBILITY: Star Wars - Jedi Power Battles - Black screen issue and unresponsive buttons"
Hi, first of all thanks for the awesome work, the emulator works seamlessly with my MotionPlus controller.

I just have an issue with the game "Star Wars - Jedi Power Battles". When the game starts and the intro video starts, you can only hear the audio of the video but the screen is black (FPS counter freezes too). All buttons seem unresponsive too, so there is no way to skip the video nor to pro

[2016-04-24 23:47] Orvis25 commented on #13
@Mystro256
Any new updated we can test? Hows it going?

[2016-04-30 20:10] Orvis25 commented on #13
@Mystro256 You alive D: ?

[2016-04-30 20:53] Mystro256 commented on #13
Lol yeah, just a busy time of year for me
On Apr 30, 2016 4:10 PM, "Orvis25" notifications@github.com wrote:

[2016-04-30 20:56] Orvis25 commented on #13
@Mystro256
Ah ok :) Well good luck and don't forget about us :D

[2016-05-05 20:33] Restart80 commented on #14
Yeah, was hoping this would be fixed in 2.2 but it's still there. My games run almost perfect except for that intermittent controller freezing.

Memory Card thing is no longer an issue for me since I figured out how to save to the USB stick properly.

[2016-05-05 20:40] Restart80 commented on #13
Not sure if anyone else is having this issue because it hasn't been mentioned I think. But my controller randomly becomes unresponsive for a few seconds on this emulator (if I'm moving in a direction, it will keep going for several seconds and I can't do anything, as if it is "locked"). Not sure if it's for all games, but it happens a lot on Digimon World 1.

[2016-05-24 10:45] Skyx33 opened #19 "PS1 - Game Crash Hogs of War (German Edition)"
german version from hogs of war (called Frontschweine) dont work.
i try any wiisx versions but this favorite game for me doesnt work on any version.
with epsxe on windows no problems with this game works perfectly.

i dont know why but can you try to find any fix?
&thanks for updating this emulator :) :+1:

[2016-05-24 19:35] medeirosT commented on #19
Please add this information here:

https://github.com/Mystro256/wiisxr/wiki/Compatibility

[2016-06-10 02:35] undeadslayer16 opened #20 "Game issue"
Hello, I like your unofficial build of the wiisx. I was really hoping to be able to play evil dead hail to the king, but unfortunately I am unable to. When ever you start the game, depending on what you're running the game on, you'll either have black screen or a picture of a cabin. Then you'll have pixels and a sound that sounds an awful like lightning. After that, again depending on what you are

[2016-06-13 04:02] darkto62 opened #21 "Please add "4 players" compatibility"
Hi sorry for post here, i hope it ;)
For play Crash bash and CTR with 4 friends ;)

[2016-06-23 13:26] Mystro256 commented on #16
Indeed this would be nice

[2016-06-23 13:26] Mystro256 commented on #21
Thanks for the report, but this is covered by Issue #11

[2016-06-23 13:26] #21 closed

[2016-06-23 13:30] Mystro256 commented on #17
Honestly, I would personally like to drop gamecube support, as I do not have a working system to test it on or time to work on both Wii and Gamecube. If anyone is interested in fixing the gamecube build, I will reopen this. (likely just needs some ifdef's to fix it)

[2016-06-23 13:30] #17 closed

[2016-06-23 13:33] Mystro256 commented on #20
If those people are able to get in contact with me, I will for sure incorporate their fixes. Unfortunately, I don't have time to track people down :(

I can see what I can do, but no promises.

[2016-06-23 15:00] vastshadow527 opened #22 "Metal Gear Solid"
I have noticed when I started up Metal Gear Solid 1 that it will show a exception dsi error after showing the Konami logo I have tried with and without bios, but it's same either way.  I hope this could get addressed and fixed as metal gear solid is one of the best games on the system

[2016-06-23 15:22] Mystro256 commented on #22
Odd, I don't get this issue, but I do get major sound issues, which make the game unplayable with sound imho (I'm hope to be working on the sound in the coming months). Although I usually mash start when loading the game, so I could have skipped this error.

[2016-06-24 17:50] xetsumi commented on #22
Maybe I could be using some different settings, what settings are you using

[2016-06-28 18:44] Mystro256 commented on #22
I believe just the default settings

[2016-07-08 23:05] n00ris opened #23 "[Regression] Freeze during startup via BIOS"
Hello,
after commit
fdb93be2974a79f27e4dd3de1fae021b9dcc71b4 (Update README to include libfatmod (ustealth)
I ran into a regression.

If I boot via BIOS, the last available dol
[ from commit 9519304230c369fa0284c14843a231c9bc62d2c5 (Revert ppc for now) ]
freeze at BIOS startup (at the moment the big P is displayed, in other words, it does not proceed to load the game)

fdb93be2974a79f27e4dd3de1fae

[2016-07-08 23:14] n00ris opened #24 "Settings are not saved if wiisxr folder is missing"
Hello,
if the folder wiisxr is missing in the root of the SD card, it is not created, if you save settings to the SD card from the GUI (and without it the settings.xml is not created, too).
But the GUI says it successfully saved the settings.

Tested with dol from commit 9519304230c369fa0284c14843a231c9bc62d2c5 (Revert ppc for now).

Not tested with USB device.

[2016-07-28 23:11] darkto62 opened #25 "Important!!!"
Hi, Mystro256, there a issue in the compatibility LIST!!

Each "game region" is neccesary for the compatibility list, for that games dont work and another versions of regions yes...

example:
THE ONLY "Crash team racing" that work is the game region: SCUS-99459  [THE GAME DEMO]
add the "Region" in the Compatibility list, i will update the "info" of the games that i have tested putting the regions.

[2016-07-29 21:18] filevans opened #26 "please add native resolution support"
hello

please could you add PSX native resolution support

such as 224p / 240p: 320x224, 256x224, 512x240 resolutions

these modes look great, as you can see on mednafen, snes9x gx and retroarch

and could you also add the option to turn off deinterlacing / bilinear filtering which seems to be always on by default and makes the image blurred

thank you for listening

[2016-09-05 07:17] MondoGecko opened #27 "Vampire Hunter D title screen"
Wondering if there's any way to fix the missing title screen in Vampire Hunter D. The rest of the game runs flawlessly, and the demo screen plays just fine if you leave the black title screen idle for a bit. It's not a huge issue but one I would like resolved. Tried booting in interpreter and dynarec, turned dithering on and off, and booted with and without bios and no luck. Can't see difficulty m

[2016-09-06 06:13] migot1993 opened #28 "poject is dead or still developed?"
Hi I want ask becasue I'am new here and i dont know. I can test the games are not on the compatibility list, but I have to know that the project is developed.

[2016-09-06 12:01] Mystro256 commented on #28
I wouldn't say it's dead, just heavily stalled. Unfortunately I don't have
a lot of time to give and I appear to be the only dev interested in working
on it.

On Sep 6, 2016 2:13 AM, "migot1993" notifications@github.com wrote:

[2016-09-06 16:36] roflcopter777 commented on #28
What can we do to help others get interested?

[2016-09-07 04:36] migot1993 commented on #28
Thanks for answer.
I understand everyone has their own life and personal affairs. I wanted to make sure only if the project is in progress or abandoned but anyway thanks for all your time and work. I appreciate what you're doing

If possible I can help you in every possible way if if I'll be able

[2016-10-16 22:51] #5 closed

[2016-10-16 22:51] #12 closed

[2016-10-16 22:52] #6 closed

[2016-10-17 02:49] Mystro256 commented on #24
Odd, this shouldn't happen as it should fail when attempting to open the file. It must be a bug in the filesystem library.

Either way, I added another check to see if the directory exists before trying to open the file for writing.

[2016-10-17 02:50] #24 closed

[2016-10-17 02:53] Mystro256 commented on #12
Found it, see 2d9838ab66226cf82f3e4876a03f0877b3723475

[2016-10-17 05:06] roflcopter777 commented on #2
That ain't good

[2016-10-19 18:26] Mystro256 commented on #28
@migot1993 Feel free to test games and leave your comments in the compatibility list.
Truthfully, the biggest form of help I need is dev help, i.e. fix bugs and whatnot.
I managed to spend some time on the weekend to close 4 issues, but my time is limited and this project is likely going to be moving at a snail's pace for the time being.

[2016-10-19 18:26] #28 closed

[2016-10-23 17:15] Monsterray opened #29 "Crash when trying to go up a folder"
When I try to click the one or two dots in the iso chooser the app crashes and sends me back to the homebrew browser.

Here is a short video of what im talking about.

https://dl.dropboxusercontent.com/u/44123755/MOV00016.AVI

[2016-10-23 18:50] Monsterray opened #30 "Major bug with Spyro 3"
They are a couple of bugs with  the game Sypro: Year of the Dragon, the worst one of them being that the game starts to remove the eggs you have collected previously, I'm not sure if this starts at the end of the game or throught the game because I copied saves from my computer over to my wii. This egg bug starts right after beating the third boss in the game. Also Sparks will disapear after eatin

[2016-10-23 18:58] Monsterray opened #31 "Using the analog stick on classic controler for d-pad inputs"
When I try to assign the left analog stick of my classic controler to the d-pad on the emulator neither the d-pad (except the right button still works to move) nor the analog stick works in game. Though the right d-pad button still works for turning right in game.

[2016-10-23 19:11] Monsterray opened #32 "Enhancement request: Memory card editor/ Selector"
It would be awesome if you could add a memory card editor that could move around saves on a memory card, delete save, or copy saves to another card. Also could you add the possibility to select cards manualy or set a card if one isn't avaliable, or set one that is ment for a bunch of games not just one. I like settings, they make things more versatile. Also these don't need to be in the gui at fir

[2016-10-23 19:47] Monsterray opened #33 "Movemonet broken in Gex 3 with classic controller"
When I try to move around in Gex 3 the character just jitters, he doesn't move smoothly. It seems like i'm pressing the button really fast and not holding it down when I actualy am.

[2016-10-23 19:58] Monsterray opened #34 "Legacy of Kain - Soul Reaver doesn't work at all"
When I try to play legacy of kain the game starts, but locks up at the bios screen.

[2016-10-23 20:22] Monsterray opened #35 "No Music Plays in Wild 9"
Throught the entire game none of the great music that is in the Wild 9 ever comes out my speakers.

[2016-10-23 21:36] Monsterray opened #36 "Things in Crash Bandicoot 3 have visual bugs"
Objects in Crash Bandicoot 3 have some trouble figuring out which one is in front of the other and end up being put behind something when it should be in front.

![dsc_7786](https://cloud.githubusercontent.com/assets/1779600/19629340/ffb7abee-9927-11e6-9469-6ce7f4ab81a3.JPG)
![dsc_7787](https://cloud.githubusercontent.com/assets/1779600/19629341/ffba545c-9927-11e6-83ed-9371eeed35c6.JPG)

[2016-10-23 21:39] roflcopter777 commented on #36
That's due to culling issues, the culling isn't rendered properly.

[2016-10-23 23:29] Mystro256 commented on #29
I think i just fixed this, it will be included in the next version. Is your device formated in FAT?

[2016-10-24 15:05] roflcopter777 commented on #35
XA audio isn't implemented into the emulator, who knows when that'll be implemented.

[2016-10-24 21:07] Mystro256 commented on #23
Seems I missed something in the revert commit.

Fixed it in the code, so I'll close it for now. Feel free to reopen this if it's not fixed after I release version 2.3.

[2016-10-24 21:07] #23 closed

[2016-10-24 21:08] Mystro256 commented on #29
Should be fixed in the code, so I'll close it for now.
Feel free to reopen if you still have issues after I release version 2.3

[2016-10-24 21:08] #29 closed

[2016-10-24 23:23] roflcopter777 commented on #2
Yeaaah this isn't going be fixed I take  it

[2016-10-25 00:07] Mystro256 commented on #2
@roflcopter777 In case you are confused, I did not close this issue, just #12 , which was referenced, as it was stopping me from working on this issue (i.e. "blocking it").

I plan to finish this and XA, but keep in mind that I do not have a lot of time available, so it's going to take some time. If you or anyone else would like to take up programming and help me fix something, by all means.

Note

[2016-10-25 00:12] roflcopter777 commented on #2
Apologies, I wasn't sure what was planned for 2.3,sorry -_-  Have you considered asking the ePSXe team for help with the audio?

[2016-10-25 01:37] Mystro256 commented on #2
It's ok, I plan to release 2.3 after I fix a few more things (likely #7 and #31).
Audio improvements will likely be targeted for a later release: hopefully sooner than later though. Note that I don't have any strict version schedule, it's just sort of an "as needed" situation and whenever I've fixed enough to justify making another release.

As for ePSXe, this project is licensed with GPLv2+, whic

[2016-10-25 02:54] roflcopter777 commented on #2
Will there be improvements to the GPU plugin (vsync, to reduce screen tearing and maybe culling, etc?) as well? Not trying to rush ya, just curious :D   Looking forward to it

[2016-10-25 03:31] Mystro256 commented on #2
Indeed, see issue #4
It will take a while, but it'll make it look nice.

[2016-10-25 18:11] Mystro256 commented on #29
I think i just fixed this, it will be included in the next version. Is your
device formated in FAT?

On Oct 23, 2016 1:15 PM, "Monsterray" notifications@github.com wrote:

[2016-10-30 17:38] Monsterray opened #37 "Instant Crash with Vagrant Story"
When I try to play vagrant story the game crashes right after the first Sony Computer Entertainment screen of the BIOS when I try to play the game with boot through BIOS on.

![vagrant story crash report](https://cloud.githubusercontent.com/assets/1779600/19838362/d8968392-9e8a-11e6-84b8-45e0cc5667cc.jpg)

If I have boot through BIOS off but still have BIOS select on SD or HLE the Wii will just fr

[2016-10-30 18:27] Monsterray opened #38 "Dithering Setting Won't Save"
Just like the title says the dithering setting always returns to default whenever I restart Wiipsxr.

[2016-10-30 20:09] Monsterray opened #39 "Menu Items Don't Show in Crash Bash"
The menu items in Crash Bash don't show up, but other text in the game will.

![menu items](https://cloud.githubusercontent.com/assets/1779600/19839595/0c7a262a-9ea2-11e6-8d34-6d3b238344e9.jpg)

[2016-10-30 20:22] Monsterray opened #40 "Crash Team Racing Hangs at Credits"
After I start Crash Team Racing the game shows the Sony Computer Entertainment Credits at the beginning but gets stuck there and plays all the dialogue of the game one after another.

![hang at beginning](https://cloud.githubusercontent.com/assets/1779600/19839698/d4666fe4-9ea3-11e6-8823-d28d0b7acc21.jpg)

[2016-10-30 22:18] Monsterray opened #41 "Can't Play The Jungle book"
The game just freezes after the second bios logo.

![dsc_7791](https://cloud.githubusercontent.com/assets/1779600/19840471/e519e4e6-9eb3-11e6-8451-ec3cbd5f5532.JPG)

[2016-11-07 01:38] Monsterray opened #42 "Add More File Types"
Is it possible to add ecm support or be abble to play archived isos. Also Could you add support for mdx images.

[2016-11-07 19:22] cw-kid commented on #31
Hi

I saw the exact same issue / problem today, after also trying to change those same settings and it would then only turn right on the D-Pad and the sticks are not working at all etc.

I am using a "classic" controller I bought off eBay like this one [here](http://www.ebay.co.uk/itm/NEW-WHITE-CLASSIC-CONTROLLER-PRO-JOYPAD-GAMEPAD-FOR-NINTENDO-WII-CONSOLE-/350839965022?hash=item51afb1055e:g:GS8AA

[2016-11-07 19:54] Mystro256 commented on #31
I think something broke, I plan to look into this soon when I have some time.

[2016-11-07 20:00] cw-kid commented on #31
Hi

OK many thanks.

I just tried Demolition Racer and I couldn't get the analog sticks to work in that game either.

But I am not entirely sure what I am meant to be doing? in the WiiSX settings for the button configuration setup.

Cheers

[2016-11-10 00:48] danny19901 opened #43 "needs CDDA Implementation"
Would love to be able to play mickey's wild adventure with the background music also same as mortal kombat and most games that have background music

[2016-11-14 05:33] Monsterray opened #44 "Crash when picking DVD with nothing in Drive"
When I try to choose the DVD as a source for ISO's but don't actually have a DVD with ISO's on it in the drive the Wii crashes.

![dvd crash](https://cloud.githubusercontent.com/assets/1779600/20254368/c2bc1fa0-a9e8-11e6-9414-d4a14725800f.jpg)

[2016-11-27 05:29] Monsterray opened #45 "Add ability to see only certain types of files"
It would be nice if you could add the ability to make it so the emulator only shows files with a certain extension that you can change in a config file or possibly in the emulator.

[2016-11-27 05:37] Monsterray commented on #15
Have a look at these couple programs:

http://wiibrew.org/wiki/CustomizeMii

http://wiibrew.org/wiki/Crazy_Installer

I think these are what you are looking for.

[2016-11-28 02:02] Monsterray opened #46 "Spider Man Crashes"
Spider Man crashes before the game even starts

![capture](https://cloud.githubusercontent.com/assets/1779600/20654179/a4844ace-b4cb-11e6-9124-f0e8c16849ec.JPG)

[2016-12-01 02:55] madpredar1 opened #47 "Bushido Blade 2 Crash"
Some intro messages show very well but just before menu the game crashes

Its a shame because Bushido Blade 1 works AMAZING, at 60fps average, and me and my friends love this game but had the issue when playing on wii we had a poor framerate of 30- fps on WiiSX so this is insane improve

Hope you can fix it and meanwhile i will play bushido blade 1

[2016-12-02 22:08] Monsterray opened #48 "Music in Spyro stops"
The music in Spyro the Dragon stops working after talking/ freeing a dragon in the game.

[2016-12-03 02:22] leodexe commented on #40
This game is well known to have issues with most emulators, not only WiiSXR. It is related with the SPUsync function, that handles some sort of audio streaming that most emulators can't deal with properly. But in the case of WiiSXR, THERE IS one version that actually WORKS, although it has some graphical issues (like crates and item boxes being invisible most of the time). It is the SCUS-94459. Th

[2016-12-03 02:41] leodexe commented on #25
This game is well known to have issues with most emulators, not only WiiSXR. It is related with the SPUsync function, that handles some sort of audio streaming that most emulators can't deal with properly. And also, the correct region is SCUS-94459. You can test this by loading the game on any emulator (or any that show ROM/ISO Info)

[2016-12-13 04:17] Mystro256 commented on #45
Would it help if I just filter out the support formats by default?
I.e. *.iso, *.bin, *.img

[2016-12-13 04:22] Mystro256 commented on #25
I don't understand the issue here, there is a region column? If someone hasn't entered a specific version, please feel free to make an update.

[2016-12-13 04:22] #25 closed

[2016-12-13 04:36] Monsterray commented on #45
I like to have as many settings that I can change as possible so I can make things tailored to my needs and be able to try to get things to work; so you could have those file types hidden by default in a config file :smile: and let my add or remove them. Also maybe make a way to blacklist things or whitelist them i.e. -.cue +.img +.bin. Sorry if I make your life hard I would help, but I don't know

[2016-12-18 06:45] decomposing commented on #31
I remember using an old version of wiisx and not being this confused about the analog thing. Do you need to start the game and then change the setting to analog? Only works as standard in any game. Ridge racer needs analog and Wipeout.

I read this. Do i need to update something? I'm pretty sure i have usb 2 working with wii games?

matguitarist
Member
matguitarist
GBAtemp Fan
The mod build is the

[2016-12-31 01:28] MeisterLLD opened #49 "Black screen when exiting when loaded from a forwarder (vWii)"
When quitting WiiSXR started from a forwarder in the vWii, it just goes to a black screen.
When loaded from Homebrew channel it quits fine though.

[2017-01-06 03:59] spyguy6 opened #50 "Top Shop - Controller Disconnect"
Hello!
I've been playing Top Shop with some friends and the controller randomly keeps disconnecting.
Sometimes it is only a few seconds and then other times it can last for minutes and may never reconnect again.

I was wondering if there was anyway to fix this because it causes a loss in progress when I can't move.
I have also tried saving and resuming from save state and it resumes in the frozen

[2017-02-05 17:47] jrom89 opened #51 "Subfolder Support"
Currently, WiiSX-R doesn't know how to open a subfolder when browsing SD/USB for a game to load. As a result, all games and their associated .cue/.bin/track files have to sit in the same folder together, making it cumbersome to select a game to load. It would be much better to be able to organize these games in subfolders.

thanks!

[2017-02-06 03:07] Mystro256 commented on #51
This was a bug in the file browser, I fixed it in the code but I haven't made a new build yet. Hold tight, I have to fix my build system first.

[2017-02-06 03:07] #51 closed

[2017-02-18 16:35] SkyreVentes commented on #50
This problem also seems to happen in Gangway Monsters. The controller will almost always disconnect within 1-5 minutes and then will never reconnect. On rare occasions, it may last a little bit longer.

[2017-04-03 23:32] pawhtiobo commented on #49
Hi,

I share the same thing with a regular Wii, but its OK, because this emulator is great!

Regards,

[2017-04-06 15:59] Mystro256 commented on #49
The WiiSX forwarders do not work correctly with WiiSXR, please do not use them.

See #15, I have been meaning to get around to this, but I haven't even had time to release v2.3, which is long overdue.

[2017-04-06 15:59] #49 closed

[2017-04-06 16:01] Mystro256 commented on #15
Thanks, I really need to take a look into this.

If anyone is willing to take some time to do this, please do :)

[2017-04-06 22:11] pawhtiobo commented on #15
Hi,

I also found this:

https://gbatemp.net/threads/how-do-you-make-a-forwarder-channel.304285/

(in the #2 post is a lot of information)

and this...

https://sites.google.com/site/completesg/useful-tools/customizemii/forwardmii

and this...

https://gbatemp.net/threads/universal-forwarder-creator.301438/

I have done some testing, but no success, probably I'm missing something about how the .do

[2017-05-11 22:12] DongVGH opened #52 "Doom/Final Doom Hangs on Loading screen"
So Doom and Final Doom share the problem of hanging on the loading screen and code dumping on Dynarec before the copyright screen, i have already tried loading it via .CUE but it doesn't do anything different (This also happens with some other multi track games, except most of them load normally albeit without music).

Both games do work on PCSX though, so that means that maybe creating a save sta

[2017-05-22 20:14] thiagoralves commented on #40
The SCUS-94459 is reported as Demo on all ISO websites I could find. Is there a full version of the game that is compatible?

[2017-05-23 14:19] leodexe commented on #40
You are right. In the youtube video URL I left in my comment there is a link in the description with the full version of the game. If you understand Spanish you should watch the video too.

[2017-05-27 20:10] press88 commented on #48
Conform... Spyro the Dragon (Europe) audio stops

[2017-05-27 20:13] press88 commented on #42
Use https://sourceforge.net/projects/gemc/ to convert ecm file in bin

[2017-06-02 11:07] rubbersoul92 opened #53 "Problems with Analog control of 3rd Party Wii Classic Controller Pro"
Hi guys, I have two 3rd party classic controller pro which works on nintendont, Not64 and other wii games. The problem lies on the emulation of WiiSXR which all button works except both left and right analog stick. i have try switch to analog on setting and still doesnt work... googling around and i tried... it dont work.. any solution???

Found this website (https://gbatemp.net/threads/latest-emu

[2017-07-02 19:37] RandomMan25XX commented on #15
hate to bump an old issue but i believe mastershoes on darkumbra made a forwarder already using the base of the wiisx forwarder like he did for not64 with the wii64 forwarder

[2017-07-13 18:27] roflcopter777 opened #54 "Possibly releasing the source code for PPC dynarec for Wii U?"
I ask this because the Wii U currently has no dynarec core, nor are any of the developers interested in porting one. But since the Wii and Wii U use the same architecture, it would make sense to have the source code available for easier porting, opening the doors for more emulators such as DS, PSP, Dreamcast, etc. The problem is that the Wii U is stagnated by the lack of PPC dynarec, if you would

[2017-07-13 19:02] Mystro256 commented on #54
Unfortunately, all code that I have access to is available in the repo. I'm not as familiar with the Dynarec as much as I would like to be.

[2017-07-13 21:36] roflcopter777 commented on #54
What do you suggest, then? No one is interested in the Wii U it seems.

[2017-08-06 21:45] niuus commented on #26
Hi Mystro256, thanks for your work. Any chance you could  guide me towards enabling 240p, turning off bilinear filter (important), or maybe enabling vsync with the default SoftGPU plugin? I am starting to experiment with your code, so i could make the changes, compile and test.

[2017-08-12 04:21] Jackson989 opened #55 "Ape escape still doesn't work"
Always hangs at dualshock screen.

[2017-09-09 09:31] Ragnarok75 opened #56 "Monster Rancher 1 SLUS-00568"
Black screen after "Tecmo" animation at the beginning with Dynarec; you can get to the title screen with Interpreter, but it's really choppy. To get around this, I made a savestate at the title screen under Interpreter, then switched to Dynarec and loaded the state, seems to work fine after that.

[2017-09-15 17:14] Ploggy opened #57 "(REQUEST) WiiU Gamepad Support ."
Hi there. Recently it has become possible to utilise the WiiU Gamepad in Wii Homebrew/Emulators Via WiiVC. So would it be possible to add Fix94's new Controller patch to WiiSXr?

This would allow us to play WiiSXr on the WiiU Gamepad WITH the Gamepad controls too. :)

https://github.com/FIX94/libwiidrc

Thanks..

[2017-09-25 16:56] Ploggy commented on #57
Thank you fix94.

[2017-09-25 16:56] #57 closed

[2017-09-30 22:56] Ploggy opened #59 "(REQ) Screen tearing Issue."
There seems to be a slight screen tearing issue, its noticeable in scrolling games like Megaman x4
Its a single horizontal line the moves slowly down the screen.

I would take a pic but I don't think a still image would show the issue. The best way would be to get the game yourself and play the jungle stage. :)

Thank You. :)

[2017-09-30 23:05] Ploggy opened #60 "(REQ) Screen Resolution Not Correct (Black Bars Either side of the Screen)"
![20171001_000131](https://user-images.githubusercontent.com/1160255/31050217-29b46654-a63c-11e7-9244-445d23616b61.jpg)

The Pic should explain the issue. :)

[2017-10-01 14:11] ShadixAced opened #61 "Crash Team Racing (PAL/NTSC) stucks at intro screen."
Hello,

I know you've took development again and thanks for that !

But I have a little problem with WiiSXR regarding Crash Team Racing.

Both (even when patched, all versions and even EDC or not EDC) does not work.

Using FIX94's modified-for-WiiVC beta 2.2 version.

Hope I'm not bothering too much.

Cordially,
S.A.

[2017-10-01 18:01] roflcopter777 commented on #43
I don't think CD-DA implementing is in the cards

[2017-10-02 04:54] Satoshi64 commented on #43
PCSX Reloaded seems to have a newer implementation which seem more accurate and has CDDA support, but after porting cdrom.c and fixing all the differences between them, leaving only the usual warnings, the build just doesn't work, goes straight into a black screen on dolphin.

[2017-10-02 05:19] Ploggy commented on #43
Hi there upload the rpx and I'll test it on my WiiU..

[2017-10-02 20:13] ShadixAced opened #62 "About beta 2.3 - Will test"
Hello,

Since you've released v2.3, I thought I could try by testing your gamepad support. So I will inject beta 2.3 onto a homebrew and tell you the results I have.

Until then, take care and awesome work.

S.A.

[2017-10-02 20:51] BellezaEmporium commented on #62
Using the v2.2 FIX94 WiiVC forwarder, Gamepad support works.

I do not know however if you haven't changed the 2.2 beta on the credits.

[2017-10-02 21:32] Mystro256 commented on #62
Ah yes, let me correct that, I thought I did so. I also forgot to add FIX94 to the credits.

[2017-10-03 00:11] roflcopter777 commented on #62
@Mystro256  Any possible insights on the screen tearing?
https://github.com/Mystro256/wiisxr/issues/59

[2017-10-03 01:56] cucholix opened #63 "Gamepad/Wii Classic Controller analog sticks couldn't reach full presses"
The calibration fot the Gamepad sticks seems to be off,  you can't reach full presses, for example in games like Parasite Eve if you enable analog stick the character will run without need to hold a button, it works perfect with Wii U Pro Controller however with Gamepad or Wii Classic Controller the character won't run.

Just tested beta 2.3 to report this issue.

[2017-10-03 02:00] cucholix opened #64 "[Request] Enable CDDA audio emulation"
CDDA audio emulation appears grayed out, I wonder if it was disabled on original Wii to save processing cycles, if it's already implemented would be possible enable it for Wii U? vWii in 1.2ghz mode.

[2017-10-03 02:01] roflcopter777 commented on #64
It was, but since the vWii has been unlocked, it can be turned on. Whether it will or not remains to be seen, people tried to find out in the source code, but there aren't any leads.

[2017-10-03 17:19] BellezaEmporium commented on #62
Haha well that's nice !

Your emulator is good right now. And sorry to bother you @Mystro256 but have you got time to check my issue about CTR #61 ? Will be nice !

Thanks again.

[2017-10-03 17:19] #62 closed

[2017-10-03 19:06] Mystro256 commented on #64
Duplicate of #43 , Closing

[2017-10-03 19:06] #64 closed

[2017-10-03 19:10] Mystro256 commented on #43
If you make any progress, let me know, I haven't had time to look into audio at all. I've been mostly resolving some fundamental programming issues, hopefully moving onto graphics issues if I have time.

[2017-10-03 19:15] Mystro256 commented on #63
does this issue also exist with 2.2? or wiisx 2.1?

[2017-10-03 22:49] cucholix commented on #63
Yes
2.2 doesn't have Gamepad support so only could test Wii Classic Controller, and the problem was still present, Wii U Pro Controller works fine.

2.1 doesn't have Gamepad nor Wii U Pro Controller support, the problem still present with Wii Classic Controller.

[2017-10-03 22:52] Mystro256 commented on #63
Understood, thank you for your feedback, I'll take a look into it

[2017-10-04 03:33] Mystro256 commented on #62
Fixed the credits issue, it now reports the correct version.

As for the other issues, I'll try to look into them, but no promises.

[2017-10-04 03:33] Mystro256 commented on #61
I think this is a duplicate of #40

Please re-open if I'm incorrect.

[2017-10-04 03:33] #61 closed

[2017-10-04 03:48] Mystro256 commented on #63
@FIX94 Can you take a look at the WiiDRC code again? I think there may have been a typo somewhere. I took a look, but I'm not as familiar with what the expected raw values are coming in.

[2017-10-04 03:56] FIX94 commented on #63
the raw values on the gamepad should be between -75 and 75 so it should get multipled up enough to reach a full analog value, I use the same settings in nintendont and it works just fine...

[2017-10-04 10:17] FIX94 commented on #63
something to point out looking at this a bit more, an actual dualshock seems to be overscaling really hard:
https://github.com/libretro/beetle-psx-libretro/issues/40#issuecomment-222559509
so you may want to add an option to scale the analog sticks up a bunch for games that require it being overscaled this hard.

[2017-10-04 15:39] BellezaEmporium commented on #40
Yes you are right @Mystro256 , this was a duplicate. Did not know that this issue already existed.

SCUS94459 is indeed a exclusive demo disc, please check at *REMOVED* for a disc image.
Wiki should have been changed to fix this little typo.

SPUsync is actually not taking CTR's XA files well.

[2017-10-04 16:43] Mystro256 commented on #40
@ShadixAced Please refrain from mentioning locations to acquire pirated games.

[2017-10-04 20:38] BellezaEmporium commented on #40
Well it was only the website that hosted the disc IMAGE, do not know about if they actually distribute the game.

[2017-10-04 20:44] BellezaEmporium commented on #62
Okay, hope that it can helps for my issue : SPUsync conflicts with CTR.

[2017-11-06 10:51] Dodain47 opened #66 "WiiSXR Version 2.3 Compatibility list"
I wanted to tell that there is an extensive compatibility list on gbatemp wiki that i´m currently updating.
https://wiki.gbatemp.net/wiki/WiiSXR

My regards

Dodain47

[2017-11-09 20:37] Dodain47 opened #67 "Kaette Kita Cyborg Kuro - chan no controll with Wiisxr 2.3"
**Kaette Kita Cyborg Kuro - chan (J) SLPM-87174** plays fine with **Wiisxr V.2.2.**
Somehow the game **no longer responds with Wiisxr V.2.3**

[2017-11-09 20:41] Dodain47 opened #68 "Legend of Mana no controll respond with Wiisxr 2.2 and 2.3"
**Legend of Mana USA SLUS-01013**  works fine in WiiSX beta 2.2.
In Wiisxr 2.2 and 2.3 the controlls won´t respond at all.

[2017-11-09 20:46] Dodain47 opened #69 "Tactics Ogre Controlls"
Somehow the Japanese Version works fine and in the US Version the controlls no longer respond after the Intro.
This happens with Wiisxr 2.2 and 2.3
Tactics Ogre - Let us cling together JAP SLPS-00767.
Tactics Ogre - Let us cling together USA SLUS-00560.

[2017-11-09 20:50] Dodain47 opened #70 "Valkyrie Profile US Disk 1 crashes early"
In Wiisxr 2.2 you could at least get to Odin´s Throne Room before the game freezes.
In Wiisxr 2.3 the game crashes as soon as you start a new game.

Valkyrie Profile USA SLUS-01156

[2017-11-09 20:53] Dodain47 opened #71 "Zanac X Zanac controll issue"
In Wiisxr 2.2 the game works fine.
In Wiisxr 2.3 the controlls stop responding after you start the first Level.

[2018-01-03 22:48] Masamune3210 commented on #30
Sounds like the game's anti-tanper getting activated on some of these, as it will do things like remove gems

[2018-02-21 16:26] medeirosT commented on #30
With spyro (Year of the dragon), do you get a screen like this?  https://www.youtube.com/watch?v=We86zkjX1oQ

[2018-03-05 05:45] Dan92xD opened #72 "wiisxr 2.3 game issues"
legend of mana works on 2.3, but chobo fushin nakiri dungeon japanese and castelvania symphoni ntsc us  this two games dont respond the botton to push start.   just the intro video works,     megaman x4 x5 x6 (pal and english  us) after the first intro stage when you are in select stage menu after i select the stage this games get a black screen,  digimon world 2 dont respond the bottons too.  leg

[2018-03-23 08:59] Treeface opened #73 "Lightgun support?"
Is it possible to add lightgun support?

[2018-07-04 21:00] netocg opened #74 "wiisx load iso from dvd run into an error: "Error Opening "\" Directory""
### What version can you reproduce the issue?

latest one

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

no

### What game does this issue reproduce on (Name, Region, etc)?

any

### Steps to reproduce the issue:

1.
2.
3.

### Describe the issue in detail:

ISOS burned into a dvd-rom (data) does not load.
"Error Opening "\" Directory"

[2018-11-06 18:54] NaturalHarmonia opened #75 "Save data keeps disappearing"
### What version can you reproduce the issue?

Beta 2.3

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

YES

### What game does this issue reproduce on (Name, Region, etc)?

Breath of Fire III NTSC

### Steps to reproduce the issue:

1. Save game
2. Restart game
3.

### Describe the issue in detail:
My save data for Breath of Fire III keeps getting deleted for so

[2019-07-04 08:00] Dan92xD opened #76 "are you still working on this wiisxr? how we can help to add more compatibility to the psx games on this program?"
### What version can you reproduce the issue?
megaman x seires games black screen after the first stage

VERSION

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

YES/NO

### What game does this issue reproduce on (Name, Region, etc)?
ntsc and pal
GAME NAME, NTSC/PAL/ETC

### Steps to reproduce the issue:

1.
2.
3.

### Describe the issue in detail:

[2019-08-01 17:18] vmartinv commented on #11
I have added multitap support in my fork ([https://github.com/vmartinv/wiisxr](https://github.com/vmartinv/wiisxr)). I can only test it for the Wii using four Wii motes. I don't know if this project is still being maintained, but if I can provide help if you want this feature to be added here.

[2019-08-02 17:55] Tyssj12 opened #77 "Marvel Vs Capcom Clash Of Superheros keeps crashing i wiisxr"
Ok so i go to play the game it loads just and and plays just fine but once im like 2 matches in it gives me isi dump error screen and i dont know what to do

[2019-08-17 20:37] Jerdo32 opened #78 "GameCube Controller doesn't reach full analog."
### What version can you reproduce the issue?

Beta 2.3

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

Yes

### What game does this issue reproduce on (Name, Region, etc)?

Spyro 2: Ripto's Rage!, NTSC

### Steps to reproduce the issue:

1. Start the game as normal, using a GameCube Controller.
2. Once the game starts, play as normal.
3. You'll notice Spyro only

[2019-09-30 22:05] morpheousx opened #79 "WiiSXR Beta 2.3 WiiU "Error opening directory "USB:/wiisxr/isos""
### What version can you reproduce the issue?

VERSION 2.3

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

YES/NO   NO

Beta 2.1 allows me to load from the USB drive from the vwii menu but i need to be able to launch wiisxr from the wiiu menu, so i can use the vwii overclocking app via homebrew channel first, then launch the wiisxr forwarder, so i can launch into

[2020-01-15 16:45] Ioannis20x opened #81 "Tekken 3 don´t starts"
### What version can you reproduce the issue?

VERSION
beta 2.3
### Is this a new issue (ie. can you not reproduce the issue on older versions)?

YES/NO
YES
### What game does this issue reproduce on (Name, Region, etc)?

GAME NAME, NTSC/PAL/ETC
Tekken 3 PAL
### Steps to reproduce the issue:

1.
2.
3.

### Describe the issue in detail:

The Game isn´t starting

[2020-03-21 18:33] Dassadar opened #82 "Cannot save on Final Fantasy VIII"
### What version can you reproduce the issue?

Beta 2.3

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

NO

### What game does this issue reproduce on (Name, Region, etc)?

Final Fantasy VIII NTSC

### Steps to reproduce the issue:

1. Go to a save point
2. Open game menu
3. Try to save -> not possible, it says "No memory card"

### Describe the issue in detail:

[2020-06-11 18:19] Kokokool opened #83 "issues with X2 game"
### What version can you reproduce the issue?

VERSION

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

YES/NO

### What game does this issue reproduce on (Name, Region, etc)?

GAME NAME, NTSC/PAL/ETC

### Steps to reproduce the issue:

1.
2.
3.

### Describe the issue in detail:

Somehow, when i load X2.iso game over a LCD, the image shows like diagonal tracking

[2020-08-19 22:44] dhkellenberger opened #84 ".pbp Support"
### What version can you reproduce the issue?

VERSION Beta 2.3

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

NO

### What game does this issue reproduce on (Name, Region, etc)?

N/A

### Steps to reproduce the issue:

1. Load .pbp file into memory
2. Click "Play Game"

### Describe the issue in detail:

Not an issue, this is a feature request. Many people (inc

[2020-10-06 18:19] carnage702 opened #85 "Wiiu Gamepad analogs badly calibrated"
wiisxr 2.3

so if you set analog imput the wiiu gamepad only considers full speed if you use the analog all the way up or all the way to the side, if you push the alao full diagonal it just considered like mid push.

i saw someone say the same of the gcn controller, is there any wierdness going on with stick values? an easy game to test is bugs bunny and taz time busters if you set upo analog and

[2021-08-02 21:58] NintendoManiac64 opened #86 "deleted"
deleted

[2021-08-05 05:55] #86 closed

[2021-08-30 18:55] qamichele59 opened #87 "Driver 2 not working on wiisxrx and wiisxr!! HELP ME!"
### What version can you reproduce the issue?

VERSION

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

NO

### What game does this issue reproduce on (Name, Region, etc)?

All Names, Etc.

### Steps to reproduce the issue:

1. If wont even load past the bios screen, then always i greeted a turned black and deadly screen and weird audio any to fix for this? Interp

[2021-09-19 12:56] qamichele5959 commented on #87
May have a copyprotection by infogrames. Impossible MDEC/DMA/SIO-1/SIO-2 problem???

[2021-10-07 22:37] qamichele5959 opened #88 "*****CRASH***** Problem with Driver 2 (Disk 1) (V.1.0)"
### What version can you reproduce the issue?

VERSION

### Is this a new issue (ie. can you not reproduce the issue on older versions)?

NO

### What game does this issue reproduce on (Name, Region, etc)?

GAME NAME, NTSC

### Steps to reproduce the issue:

1. Load Driver 2 (Disk 1) (V.1.0)
2. Start Driver 2 (Disk 1) (V.1.0)
3. Unresponsive buttons and crashes with a earrape loud noise. Have an a

[2021-12-01 17:46] qamichele5959 commented on #18
Where is go for?
https://github.com/PSP-Archive/nulldce-psp/issues/145

[2021-12-01 17:52] qamichele5959 commented on #13
What is so happening from this game is not booting up on PSP with nulldce-psp emulator(?)
[https://github.com/PSP-Archive/nulldce-psp/issues/143](here)

[2021-12-08 12:24] qamichele5959 commented on #13
Will fail on latest wiisx build but works on older mednafenpsx core libretro wii build 1.0.0.3.

[2021-12-10 09:29] qamichele5959 commented on #13
[Does have the DC version game will boot on PSP using the nulldce-psp emulator??](https://github.com/PSP-Archive/nulldce-psp/issues/149)

[2021-12-13 09:30] qamichele5959 commented on #18
#18

[2021-12-13 09:35] qamichele5959 commented on #46
Event this game seems to work with PSP PSX2PSP Convertor?

[2022-01-22 13:40] lohacker84 commented on #79
format your usb drive in fat32 32k MBR primary to fix. not GPT and not logical. use the Easeus partition master and immediately format again with wii backup manager

[2022-01-22 13:56] morpheousx commented on #79
Thank you for responding!  Even though I posted this question three years ago. lol

[2022-02-04 04:10] qamichele594-2 commented on #13
When getting all work on PCSX Autobleem emulator after trying to buy a playstation classic console from year 2018, there has been crashing and major looping in both WiiSXRX and PCSX-Revolution emulators, but probably the PCSX-ReARMed libretro3ds core emulator has "prefetch abort (kernel panic)" and "prefetch abort (svcBreak)" and "The card was removed." and "data abort" and "undefined instruction"

[2022-02-04 04:11] qamichele594-2 commented on #13
[Somehow is dead?](https://github.com/niuus/WiiSXRX/issues/58)

[2022-02-07 18:38] qahellokitty5947 commented on #66
somehow wiisxrx and wiisxr are ALREADY dead?

[2022-03-24 06:36] wei134102 commented on #81
i can run it ,yseterday  on wii!